<div class="discover-buttons">
  <%= link_to "Top Rated Movies", "/users/#{@user.id}/movies?top_rated=true" %>
  <%= form_with url: "/users/#{@user.id}/movies", local: true do |form| %>
    <%= form.label :search, 'Search for a Movie by Name:' %>
    <%= form.text_field :search %>
    <%= form.submit 'Search' %>
  <% end %>
</div>